.profile {
  display: flex;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 20rem;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 15.6rem;
  object-fit: cover;
}

.profileUserImg {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 9rem;
  border: 4px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 1.5rem;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
}
